{
  "presets": ["@babel/env", "@babel/react", "@babel/preset-typescript"],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/proposal-object-rest-spread"
  ]
}
