{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "no-constant-condition": ["error", {
      "checkLoops": false
    }],
    "no-unused-vars": 0
  },
  "globals": {
    "JSX": true
  }
}
