.Header {
  font-size: 2rem;
  background-color: #badffd;
  font-weight: bold;
}

.Header h1 {
  max-width: 60rem;
  margin: 0 auto;
}

.Main > * {
  max-width: 60rem;
  margin: 0 auto;
}

.CenterContent {
  text-align: center;
  margin-top: 1rem;
}

.PlaceholderButton {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
}

.PlaceholderButton:hover {
  background-color: #eee;
}
